@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

/* shared styles */
.title-color {
  color: rgba(255, 255, 255, 1);
}

.section-title {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
}

.text-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.btn {
  background-color: rgba(230, 83, 60, 1);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 46px;
  border: none;
  border-radius: 50px;
}

/* header start here */
header {
  background-color: rgba(17, 17, 17, 1);
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.nav-icon {
  color: rgba(230, 83, 60, 1);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}

.nav-menu ul {
  width: 450px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.124);
  border-radius: 50px;
  padding: 10px 20px 10px 2px;
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul li a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  /* margin-right: 30px; */
}

.nav-menu .home {
  background-color: rgba(230, 83, 60, 1);
  padding: 8px 20px;
  border-radius: 50px;
}

.bars {
  display: none;
}

.banner-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.banner-info {
  margin-top: 96px;
}

.banner-info h1 {
  font-size: 78px;
  font-weight: 800;
}

.banner-info h1 span {
  font-family: "Miama", sans-serif;
  font-size: 150px;
  font-weight: 300;
  line-height: 120px;
}

#healthy {
  margin-top: -28px;
  margin-bottom: 28px;
}

.btns {
  margin-top: 28px;
  display: flex;
  gap: 14px;
}

.btn2 {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.703);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 46px;
  border-radius: 50px;
}

.banner-img {
  margin-top: 32px;
  position: relative;
}

.banner-img .img {
  width: 350px;
  height: auto;
}

.card1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 17px 24px;
  border-radius: 12px;
  right: -90px;
  top: 130px;
}

.card2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 17px 24px;
  border-radius: 12px;
  left: -100px;
  bottom: 70px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card1 h1 {
  font-size: 40px;
  font-weight: 800;
}

.card1 h2 {
  font-size: 24px;
  font-weight: 800;
}

.card1,
.card2 p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 14px;
  font-weight: 400;
}

.card2 .circle {
  background-color: rgba(230, 83, 60, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card2 i {
  display: none;
}
/* header end here */

/* main habit-section start here  */
.fixed-width {
  max-width: 1440px;
  margin: 0 auto;
}

.habit-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 58px;
}

.habit-title h2 {
  margin-bottom: 14px;
}

.habit-title p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.habit-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.habit-item {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.item-info {
  text-align: center;
}

.item-info h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 6px;
}

.item-info p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

/* main habit-section end here  */

/* main run-section start here */
.run-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.run-info {
  padding-top: 40px;
  padding-left: 55px;
  padding-bottom: 40px;
}

.run-info p {
  width: 550px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  margin-bottom: 34px;
}

.run-info .run-btn {
  background-color: rgba(230, 83, 60, 1);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 70px;
  border: none;
  border-radius: 50px;
}

.run-img {
  width: 386px;
  height: 332px;
  overflow: hidden;
  margin-top: 20px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.run-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

/* main run-section end here */

/* main tips style start here */
.tips {
  margin-top: 90px;
  text-align: center;
}

.tips p {
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 14px;
}

.tips-container {
  margin: 50px 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
}

.img-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.tips-container .img {
  width: 250px;
  height: 180px;
}

.tips-container img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.img-info {
  width: 50%;
  margin: 0 auto;
}

.img-info h3 {
  margin-top: 80px;
  margin-bottom: 14px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700px;
}

.tips-btn {
  background-color: rgba(230, 83, 60, 1);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 70px;
  border: none;
  border-radius: 50px;
  margin-top: 30px;
}
/* main tips style end here */

/* main BMI start here  */
.BMI {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 100px;
  padding: 50px 0;
}

.bmi-section {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}

.chart {
  width: 40%;
  margin-left: 10%;
}

.chart h3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 48px;
}

table {
  border-collapse: collapse;
}

table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
}

table th {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

table td {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 300;
}

.calculate-container {
  width: 40%;
}

.calculate-container h3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 14px;
}

.calculate-container p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 34px;
}

form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.field-1 {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  padding: 14px 18px;
  grid-column: 1 / span 4;
}

.field-2 {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  padding: 14px 18px;
  grid-column: 5 / span 4;
}

.field-3 {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  padding: 14px 18px;
  grid-column: 1 / span 4;
}

.field-4 {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 5px;
  padding: 14px 18px;
  grid-column: 5 / span 4;
}

.field-5 {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 5px;
  padding: 14px 18px;
  grid-column: 1 / span 8;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 300;
}

form option {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.61);
}

.calculate-btn {
  background-color: rgba(230, 83, 60, 1);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 70px;
  border: none;
  border-radius: 50px;
  margin-top: 30px;
}
/* main BMI end here  */

/* main team-section start here */
.team-info {
  margin-top: 90px;
  text-align: center;
}

.team-info p {
  margin-top: 14px;
  margin-bottom: 60px;
}

.team-members {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
  padding: 25px;
}

.member {
  position: relative;
}

.member-img {
  max-width: 445px;
  height: 382px;
}

.member-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  filter: brightness(0.8);
}

.member-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.member h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.member span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

/* main team-section end here */

/* footer start here */
footer {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 90px;
}

footer .fitness-container {
  width: 1440px;
  margin: 0 auto;
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
}

footer .fitness {
  width: 50%;
}

footer .fitness h2 {
  color: rgba(230, 83, 60, 1);
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 20px;
}

footer .fitness p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.started-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.start-contain h4 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 38px;
}

.start-contain ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.start-contain ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 36px;
}

footer .footer-copy {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 36px;
}
/* footer end here */
